@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	background: url(../img/bg.jpg) 
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
	font-weight: normal 
	font-size: 14px
	color: $font
	line-height: 1.4
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: #2c2c2c 
	text-decoration: none
	&:hover
		color: $red 
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.wrap
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -225px
.wrap__in
	position: relative
	width: 1020px
	margin: 0 auto
	padding-top: 35px
	background: #FFF 
	box-shadow: 0 0 5px rgba(0,0,0,.2)
	z-index: 10 
.push
	height: 225px
	clear: both
.h2
	font-size: 22px
.h3
	font-size: 17px
.h2, .h3
	margin-bottom: 15px
	+font
	text-transform: uppercase
.h3_yellow, .h3_blue, .h3_green, .h3_red, .h3_red-big
	position: relative
	padding-left: 20px
	overflow: hidden
	i
		position: absolute
		top: 2px
		left: 3px
	.link
		float: right
		margin-top: 3px
		text-transform: lowercase
		font-weight: normal
.h3_yellow
	i
		+s(h2-yellow)
.h3_blue
	i
		+s(h2-blue)
.h3_green
	i
		+s(h2-green) 
.h3_red
	i
		+s(h2-red)		
.h3_red-big
	margin-bottom: 30px
	padding: 0 0 10px 30px
	border-bottom: 3px solid #4d4d4d 
	font-size: 22px
	i
		top: 6px
		left: 10px
		+s(h2-red)
	span
		margin-left: 5px
		color: $red 
.title
	margin-bottom: 20px
	padding: 17px 0 14px 0
	+font	
	text-transform: uppercase
	.h2
		display: block
		margin-bottom: 0
		font-size: 22px
	a
		position: relative
		padding-left: 20px 
		font-size: 12px
		font-weight: bold
		color: $red 
		.ico-arr-l
			position: absolute
			top: -1px
			left: 0
		&:hover
			text-decoration: underline
.title_yellow
	border-bottom: 3px solid #f7c706
.title_blue
	border-bottom: 3px solid #18b7df
.title_green
	border-bottom: 3px solid #8dc11c
.title_red
	border-bottom: 3px solid #ff6b3d
.title-big
	position: relative
	padding: 0 0 0 104px
	.h2
		margin-bottom: 20px
		+font	
		text-transform: uppercase
		font-size: 45px 
		line-height: 1
	a
		position: absolute
		top: 14px
		right: 0		
.label-cat
	display: block
	min-width: 50px	
	padding: 0 5px
	background: #f56c7c 
	text-align: center
	font-size: 10px
	font-weight: bold 
	color: #FFF  
	text-transform: uppercase
	&:hover
		color: #FFF
.label-count
	+font
	font-size: 16px
	font-weight: bold
	text-transform: uppercase
	color: #434343 
	span
		margin-left: 3px
		font-size: 14px
		color: $red
//forms
.radio, .checkbox
	position: relative
	display: block
	padding-left: 25px
	+no-select
	input, i
		position: absolute
		top: 1px
		left: 0
		width: 14px
		height: 14px		
		border: 1px solid #989898
	i
		background: #FFF 
	input
		opacity: 0
	input[type="radio"]:checked + i, input[type="checkbox"]:checked + i
		&:after
			content: "" 
			position: absolute
			top: 2px
			left: 2px
			right: 2px
			bottom: 2px			
			background: $red 
.radio
	input, i
		border-radius: 50%
	input[type="radio"]:checked + i
		&:after
			border-radius: 50%
.fieldset
	@extend %clr
	.label, .checkbox, .radio
		float: left
		margin-right: 25px
	.checkbox, .radio
		margin-top: 7px
		font-style: italic
.label
	display: block
	@extend %clr
	em
		float: left
		margin-top: 7px
		text-align: right
		font-style: italic
		&.label__lh
			margin-top: 2px
			line-height: 1
	.jq-selectbox
		float: left
		span
			font-weight: normal
.input-text
	float: left
	height: 30px
	padding: 0 7px
	border: 1px solid $brd
	border-radius: 0 15px 15px 0
	font-size: 14px
.input-text_mod
	border-radius: 15px 0 0 15px
.jq-selectbox
	width: 273px
	background: #FFF 
	border: 1px solid $brd
	border-radius: 0 15px 15px 0
	&.opened
		border-radius: 0 15px 0 0
		.jq-selectbox__trigger
			background: $red 
.jq-selectbox__select 
	position: relative
	display: block
	height: 30px
	padding-left: 14px
	line-height: 30px 
	font-style: italic 
	font-weight: bold
	color: #959595  
	cursor: pointer
	&:hover
		.jq-selectbox__trigger
			background: $red 
.jq-selectbox__trigger
	position: absolute
	top: 4px
	right: 4px
	background: #d2d2d2
	border-radius: 50% 	
.jq-selectbox__trigger-arrow
	display: block
	+s(ico-arr-d)
.jq-selectbox__dropdown
	top: 30px
	left: -1px
	right: -1px
	border: 1px solid $brd
	border-top: 1px solid #cacaca
	background: #FFF
.jq-selectbox li
	padding: 3px 10px 3px 14px
	font-style: italic
	color: #959595
	&.selected
		color: #000
	&:hover 
		color: #000
.textarea
	display: block
	width: 410px
	height: 70px
	padding: 5px 7px 
	border: 1px solid $brd
	resize: vertical
	font-size: 14px	
//meta
.meta
	padding-top: 10px
	overflow: hidden
	color: #9f9f9f 
	span
		float: left
		margin-left: 10px
		font-size: 12px
		font-style: italic 	
		&:first-child
			margin: 0
	i
		float: left
		margin: 2px 3px 0 0
.meta_white
	color: #FFF
	.ico-comm
		+s(comm-white)
	.ico-view
		+s(view-white)
//icons
.ico-comm
	+s(comm-gray)
.ico-view
	+s(view-gray)
.ico-plus
	+s(ico-plus)
.ico-ok
	+s(ico-ok)
.ico-arr
	+s(ico-arr)
.ico-arr-d
	+s(ico-arr-d)
.ico-arr-l
	+s(ico-arr-l)
.arr-left
	+s(arr-left)
.ico-question
	+s(ico-question)
.ico-back
	+s(ico-back)
.ico-complains
	+s(ico-complains)
.ico-arr-top
	+s(ico-arr-top)
//wtf
.wtf
	overflow: hidden		
	font-size: 14px
	color: #9f9f9f 
	line-height: 1.3
	& > a			
		+font-c
		color: #343434 
		&:hover
			color: $red
			text-decoration: none 
	a, span, em, strong
		margin-right: 5px
	a	
		font-weight: bold
	span
		+font-c
	i
		font-size: 12px
	em
		color: #2c2c2c
	strong
		color: $red  
	.link
		font-size: 14px
		&:before
			top: 5px
//rating
.rating
	float: left
	button, span
		float: left
	button
		border-radius: 50%
		background: #2c2c2c
		&:hover, &.is-voted
			background: $red 
	span
		padding: 0 6px
		color: #9f9f9f 
	i
		display: block
.rating__up
	i
		+s(btn-up)
.rating__down
	i
		+s(btn-down)
//experts-slider
.experts-slider
	height: 81px
	background: url(../img/bg-dark.jpg) 
	overflow: hidden
	button
		position: relative
		width: 40px
		height: 81px
		background: none
		overflow: visible 
		i
			position: absolute
			top: 50%
			left: 50%
			margin: -13px 0 0 -13px 
		&:hover
			background: $red
			&.disabled
				background: none
				cursor: default 
.experts-slider__prev
	float: left
	border-right: 1px solid #413f3f
	i
		+s(arr-prev)
	&.disabled
		i
			+s(arr-prev-dis)
.experts-slider__next
	float: right
	border-left: 1px solid #413f3f 
	i
		+s(arr-next)
	&.disabled
		i
			+s(arr-next-dis)
.experts-slider__in
	width: 230px
.experts-slider__item
	padding: 13px
	white-space: normal
	img
		float: left
		margin-right: 12px 
		border: 1px solid #413f3f 
	a
		+font-c
		font-size: 16px
		color: #FFF
		&:hover
			text-decoration: underline
	span
		display: block
		font-size: 12px 
		color: #acacac
		font-style: italic  
//header
.header
	position: relative
	width: 772px
	height: 120px
	margin: 0 auto	
.logo
	position: absolute
	top: 44px
	left: 3px
	a
		display: block
		+s(logo)
		@extend %ht
.version
	position: absolute
	top: 68px
	left: 270px
	font-style: italic
	text-decoration: underline  
	font-size: 13px
	color: $font 
	&:hover
		text-decoration: none
.links
	position: absolute
	top: 7px
	right: 5px
	a, span
		float: left
	a
		font-weight: bold
		text-decoration: underline
		&:hover
			text-decoration: none
	span
		margin: 1px 6px 0 6px
		font-size: 13px
		font-style: italic 
		color: #a2a2a2
.links__enter
	position: relative
	padding-left: 17px  
	i
		position: absolute
		top: 3px
		left: 0
		+s(enter)
.header__search
	position: absolute
	top: 58px
	right: 0
	border: 1px solid $brd
	border-radius: 0 13px 13px 0
	input, button
		float: left
	input
		width: 115px
		height: 26px
		padding: 0 10px
		font-style: italic 
	button
		margin: 3px
		background: $red
		border-radius: 50%
		i
			display: block
			+s(search)
//nav
.nav	
	max-width: 940px
	margin: 0 auto	
	text-align: center
	font-size: 0	
	ul, li	
		display: inline-block
		vertical-align: top
	ul
		min-width: 772px
		border-top: 3px solid $red 
	li		
		padding: 24px 0				
		&:first-child
			span
				display: none
		&.is-active
			a
				color: $red 
	a
		+font
		font-size: 15px
		font-weight: bold
		text-transform: uppercase
	span
		padding: 0 13px
		font-size: 14px
		font-weight: bold
		color: $red 
.nav_inner
	margin-bottom: 35px 
	ul
		border-bottom: 1px solid #b6b6b6 
//link
.link, .link-plus
	position: relative
	font-style: italic
	color: $red 	 
	&:hover
		text-decoration: underline 
.link	
	padding-left: 10px 
	font-size: 13px	
	&:before
		content: ""
		position: absolute
		left: 0
		top: 6px		
		+s(arr-link)		
.link-plus
	padding-left: 30px
	font-size: 14px
	font-weight: bold
	& > i
		position: absolute
		top: -2px
		left: 0
		background: $red
		border-radius: 50% 
		i
			display: block
.link-arr
	position: relative
	padding-left: 20px
	font-style: italic
	.ico-arr-l
		position: absolute
		top: 1px
		left: 0
//footer
.footer
	width: 1020px
	height: 225px
	margin: 0 auto
	background: #FFF 
	box-shadow: 0 0 5px rgba(0,0,0,.2)
.footer__in
	position: relative
	padding: 40px
	.btn
		.btn__item
			margin-right: 25px
		span
			float: left
			margin-top: 6px
			font-style: italic
			color: #959595 
.copyright
	margin-bottom: 15px
	font-size: 13px
	color: #959595 
	line-height: 1.3
.footer__links
	margin-bottom: 20px
	overflow: hidden
	li
		float: left
		font-style: italic
		&:first-child
			span
				display: none
	span
		margin: 0 5px
.footer__social
	position: absolute
	top: 40px
	right: 40px
	span, a
		float: left
	span
		margin: 2px 5px 0 0
	a
		margin-left: 6px
.footer__vk
	+s(vk)
.footer__ok
	+s(ok)
.footer__18plus
	position: absolute
	top: 55px
	right: 40px
	font-size: 82px 
	font-weight: bold
	letter-spacing: -4px
	color: #ececec 
//btn
.btn
	overflow: hidden
	.link
		float: left
		margin-top: 6px
.btn__item
	position: relative
	float: left
	height: 28px
	margin-right: 10px
	padding: 0 40px 0 15px
	background: #2c2c2c 
	border-radius: 0 15px 15px 0
	border: 1px solid #2c2c2c
	line-height: 28px
	font-style: italic 
	font-weight: bold
	color: #FFF 
	& > i		
		position: absolute
		top: 3px
		right: 3px
		width: 22px
		height: 22px
		background: $red
		border-radius: 50% 
		i
			display: block
	&:hover
		color: #000
		background: #FFF 
button	
	&.btn__item
		height: 30px
		line-height: 1
		overflow: visible
//banners
.banner-top
	width: 940px
	height: 85px
	margin: 0 auto
//back
.back
	margin-bottom: 20px
	padding-left: 75px
	a
		position: relative
		font-weight: bold
		font-style: italic
		padding-left: 30px 
		& > i
			position: absolute
			top: -4px
			left: 0
			background: $red
			border-radius: 50% 
	.ico-back
		display: block
//slider
.slider
	position: relative
	margin-bottom: 30px
.slider__item
	width: 1020px
.slider__item-in
	position: relative
	overflow: hidden
.slider__bg, .slider__detail
	background: url(../img/bg-dark.jpg) 
.slider__bg
	float: left
	width: 125px
	height: 180px	
	margin-top: 40px
.slider__pic
	float: left
	img
		display: block
.slider__detail
	position: absolute
	top: 40px
	right: 0
	width: 310px
	height: 150px 
	padding: 30px 140px 0 65px
	a
		position: relative
		display: block
		min-height: 100px
		border-bottom: 1px solid #404148 
		white-space: normal
		font-size: 22px
		font-style: italic
		font-weight: bold 
		color: #FFF
		&:before
			content: ""
			position: absolute
			top: 2px
			left: -35px
			+s(arr-next-red) 
		&:hover
			&:before
				+s(arr-next) 
	.meta
		padding-top: 14px
		opacity: .5
.slider__prev, .slider__next
	position: absolute
	top: 150px
	z-index: 10 
.slider__prev
	right: 90px
	+s(arr-prev-big)
	&:hover
		+s(arr-prev-big-h)
.slider__next
	right: 40px
	+s(arr-next-big)
	&:hover
		+s(arr-next-big-h)
.slider__count
	position: absolute
	top: 157px
	right: 5px
	z-index: 10
	font-size: 18px
	font-style: italic
	color: #767676 		
	span
		color: #2c2c2c 
.slider_inner
	margin: 0 0 50px -20px 
	.slider__prev
		right: 110px
		+s(arr-prev-big-b)
		&:hover
			+s(arr-prev-big-h)
	.slider__next 
		right: 60px
		+s(arr-next-big-b)
		&:hover
			+s(arr-next-big-h)
	.slider__bg, .slider__detail
		background: rgba(245,245,245,.9)
	.slider__detail
		width: 140px 
		padding: 30px 310px 0 65px
		white-space: normal
		line-height: 1
		em
			font-size: 12px		
//share
.share
	position: relative
	i
		display: block
		+s(share)
	&:hover
		.share__up
			display: block
.share__up
	display: none
	position: absolute
	bottom: 0
	left: 0	
	padding-bottom: 25px
	a
		display: block
.share__tw
	+s(tw)
	&:hover
		+s(tw-h)
.share__vk
	+s(vk)
	&:hover
		+s(vk-h)
.share__fb
	+s(fb)
	&:hover
		+s(fb-h)
//star
.star
	i
		display: block
		+s(star)
	&:hover, &.is-active
		i
			+s(star-h)
//cube
.cube
	position: absolute
	top: 1px
	right: 1px
	width: 7px
	height: 7px
	background: #FFF
	border: 2px solid $red 
//breadcrumbs
.breadcrumbs
	margin-bottom: 5px
	a, span
		+font-c
		font-size: 27px 
		font-weight: bold
	a
		position: relative
		padding-right: 30px
		i
			position: absolute
			top: 13px
			right: 8px
			+s(arr-bc)
//was-online
.was-online
	margin-bottom: 25px
	font-size: 15px
	font-style: italic
	color: #9f9f9f 
//source
.source
	padding: 0 0 50px 104px
	font-style: italic
	strong
		font-size: 17px
		font-weight: normal
		color: #9f9f9f 
	p
		font-weight: bold
		font-size: 13px 
		color: #9f9f9f 
		a
			margin-left: 3px
//details
.details 
	padding-left: 104px	
	margin-bottom: 55px
.details__tags
	position: relative
	margin-bottom: 20px
	padding-left: 34px
	a
		font-style: italic
	i
		position: absolute
		top: -2px
		left: 0
		+s(tag)
.details__list
	padding-bottom: 10px
	border-bottom: 1px solid #d3d3d3 
	@extend %clr
	.meta, .rating
		float: left
	.meta
		padding-top: 0
	.share, .star
		float: right
	.star
		padding-left: 12px
		margin-left: 12px
		border-left: 1px dashed #c2c2c2 		
.details__posted
	float: left
	padding: 0 10px
	margin: 1px 10px 0 0
	border-right: 1px dashed #c2c2c2 
	line-height: 1
	+font-c
	color: #9f9f9f 
	a
		font-weight: bold
//popup
.overlay
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0,.77)
	z-index: 1000  
.popup
	display: none
	position: fixed
	top: 190px
	left: 50%
	background: #FFF 
	z-index: 1500 
.popup_enter
	display: none
	width: 520px
	margin-left: -260px
.popup_reg
	width: 410px
	margin-left: -205px
.popup__title
	position: relative
	padding: 23px 0 23px 55px
	background: #f3f3f3 
	+font-c
	font-size: 27px
	text-transform: uppercase
	font-weight: bold
	&:before
		content: ""
		position: absolute
		top: 34px
		left: 38px
		+s(h2-red)
.enter
	.fieldset
		padding: 30px 0 10px 35px
		.label
			float: left
			margin-right: 30px
		.input-text
			width: 160px 
			margin-bottom: 3px
			font-style: italic
		em
			margin-right: 20px
			font-weight: bold
		.checkbox
			float: none
			margin: 0
			padding-top: 1px
			font-size: 12px
			clear: both
	.btn
		padding: 0 0 40px 79px
		.link
			position: absolute
			right: 20px
			bottom: 20px
.enter__social
	padding: 23px 0 27px 40px
	border-bottom: 1px solid #e0e0e0 
	overflow: hidden
	strong, a
		float: left
	strong
		width: 145px
		margin-top: 7px
		font-size: 16px
		font-style: italic
		line-height: 1
	a
		margin-right: 10px
.enter__vk
	+s(e-vk)
.enter__fb
	+s(e-fb)
.enter__mr
	+s(e-mr)
.enter__gg
	+s(e-gg)
.enter__yr
	+s(e-yr)
.reg
	padding: 20px 0 45px 85px
	.fieldset
		em
			float: none
			display: block
			margin: 0 0 20px -30px			
			font-size: 16px
			font-weight: bold
	.input-text
		float: none
		width: 219px
		margin-bottom: 15px
		font-style: italic
	.checkbox
		margin-top: 0
		padding: 3px 70px 30px 25px
		font-size: 12px
		line-height: 1
		color: #7a7a7a  
	.btn__item
		font-size: 17px

	