@import "base"
/*styles for layouts*/
.l
	padding-bottom: 50px	
	@extend	%clr
.l__col-1
	position: relative
	float: left
	width: 700px
	margin-left: 20px	
	z-index: 5 
.l__col-2
	position: relative
	float: left
	width: 232px
	margin-left: 20px
	z-index: 10 
.l__col-3
	@extend	%clr
.l__col-4, .l__col-5
	float: left
	width: 310px
	padding: 0 20px
.l__col-5
	background: #f1f1f1 
	box-shadow: 10px 0 10px -10px rgba(0,0,0,.2) inset

